**import libraries**

In [1]:
import os
import pandas as pd
import numpy as np

**set working directory**

In [2]:
os.chdir('D:\\ISU\MIS 536\SEER Project\CSV data')

**load raw data**

In [3]:
data = pd.read_csv("COLRECT-decoded.csv")

C:\Users\ajink\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**check data shape**

In [4]:
data.shape

(939119, 35)

**drop some columns**

In [5]:
data = data.drop(['RACEIV','HISTRECB','ORIGRECB','ST_CNTY','LYMSUBRWHO','BRST_SUB','PUBCSNUM'],axis=1)

In [6]:
data.shape

(939119, 28)

**variable: 'AGE_DX'**

In [7]:
data = data.drop(data[data['AGE_DX'] == 999].index)
data.shape

(939084, 28)

**variable: 'REG'**

In [8]:
data = data.drop(data[data['REG'] == 'Rural Georgia'].index)
data = data.drop(data[data['REG'] == 'Alaska'].index)
"""
data = data.drop(data[data['REG'] == 'Metropolitan Atlanta'].index)
data = data.drop(data[data['REG'] == 'San Jose-Monterey'].index)
data = data.drop(data[data['REG'] == 'New Mexico'].index)
data = data.drop(data[data['REG'] == 'Hawaii'].index)
data = data.drop(data[data['REG'] == 'Utah'].index)
data = data.drop(data[data['REG'] == 'Idaho'].index)
"""
data.shape

(936538, 28)

**variable: 'SEQ_NUM'**

In [9]:
data = data.drop(data[data['SEQ_NUM'] > 4].index)

In [10]:
data.shape

(935383, 28)

**variable: 'PRIMSITE'**

In [11]:
data = data.drop(data[data['PRIMSITE'] == 'C188'].index)
data = data.drop(data[data['PRIMSITE'] == 'C260'].index)
data = data.drop(data[data['PRIMSITE'] == 'C189'].index)

data.shape

(892116, 28)

**variable: 'LATERAL';**

In [12]:
data['LATERAL'].value_counts()

Not a paired site           888166
Right: origin of primary      2550
Left: origin of primary        744
Paired site                    604
Only one side involved          43
Bilateral involvement            9
Name: LATERAL, dtype: int64

In [13]:
data = data.drop(['LATERAL'], axis=1)

In [14]:
data.shape

(892116, 27)

**mapping counts**

In [15]:
counts = data.apply(lambda x: x.map(x.value_counts()))

**variable: 'HISTO3V'**

In [16]:
data['HISTO3V'] = ['Other' if i <= 10000 else i for i in counts['HISTO3V']]

In [17]:
data = data.drop(data[data['HISTO3V'] == 'Other'].index)

In [18]:
data.shape

(849640, 27)

**variable: 'BEHO3V'**

In [19]:
data['BEHO3V'].value_counts()

Malignant - Invasive    801228
Carcinoma in situ        48412
Name: BEHO3V, dtype: int64

**variable: 'DX_CONF'**

In [20]:
data['DX_CONF'].value_counts()

1    840712
7      4170
2      1429
6      1017
9       870
8       838
4       488
5       114
3         2
Name: DX_CONF, dtype: int64

In [21]:
data = data.drop(data[data['DX_CONF'] == 3].index)
data = data.drop(data[data['DX_CONF'] == 4].index)
data = data.drop(data[data['DX_CONF'] == 5].index)
data.shape

(849036, 27)

In [22]:
data['GRADE'].value_counts()

Grade II        490137
Undetermined    148645
Grade III       117677
Grade I          81094
Grade IV         11483
Name: GRADE, dtype: int64

**variable: 'RECNOREC'**

In [23]:
data['RECNOREC'].value_counts()

1    704063
2    122499
3     19529
4      2923
5        22
Name: RECNOREC, dtype: int64

In [24]:
data = data.drop(data[data['RECNOREC'] == 4].index)
data = data.drop(data[data['RECNOREC'] == 5].index)
data.shape

(846091, 27)

**variable: 'AGE_IREC'**

In [25]:
data['AGE_IREC'].value_counts()

16    110870
15    107841
14    104712
17     97370
18     94060
13     92758
12     81688
11     74052
10     39555
9      21811
8      11079
7       5654
6       2691
5       1218
4        534
3        173
2         23
1          1
0          1
Name: AGE_IREC, dtype: int64

In [26]:
data = data.drop(data[data['AGE_IREC'] < 8].index)

**variable: 'ICCC3WHO'**

In [27]:
data['ICCC3WHO'].value_counts()

116    787944
999     47852
Name: ICCC3WHO, dtype: int64

**variable: 'ICCC3XWHO'**

In [28]:
data['ICCC3XWHO'].value_counts()

98     778129
999     47852
99       9815
Name: ICCC3XWHO, dtype: int64

In [29]:
data.columns

Index(['REG', 'SEX', 'AGE_DX', 'YR_BIRTH', 'SEQ_NUM', 'MDXRECMP', 'YEAR_DX',
       'PRIMSITE', 'HISTO3V', 'BEHO3V', 'GRADE', 'DX_CONF', 'REPT_SRC',
       'RECNOREC', 'AGE_IREC', 'SITERWHO', 'ICCC3WHO', 'ICCC3XWHO', 'BEHTREND',
       'HISTREC', 'RAC_RECA', 'RAC_RECY', 'FIRSTPRM', 'IHSLINK', 'AYASITERWHO',
       'INTPRIM', 'SCSSM2KO'],
      dtype='object')

**variable: 'YR_BIRTH'**

In [30]:
data['YR_BIRTH'] = data['YR_BIRTH'].apply(pd.to_numeric)

In [39]:
data['YR_BIRTH'].value_counts()

1930    20895
1927    20437
1928    20359
1929    20296
1931    20097
1932    19989
1934    19781
1926    19626
1935    19393
1937    19368
1947    19329
1933    19279
1942    19173
1936    19153
1938    19013
1925    18890
1924    18727
1943    18712
1946    18548
1940    18430
1939    18412
1941    18146
1948    17943
1923    17287
1944    17061
1949    16884
1945    16503
1922    16385
1950    16001
1951    15738
1921    15314
1952    15083
1953    14270
1920    13745
1954    13647
1955    13229
1956    12613
1957    12059
1958    11449
1919    11252
1959    10417
1918    10073
1960     9757
1961     9182
1917     8708
1962     8449
1963     7657
1916     7465
1964     6911
1965     5928
1966     4778
1967     3947
1968     3435
1969     3046
1970     2625
1971     2202
1972     1766
1973     1484
1974     1198
1975     1011
Name: YR_BIRTH, dtype: int64

In [38]:
data = data.drop(data[data['YR_BIRTH'] <= 1915].index)
data = data.drop(data[data['YR_BIRTH'] >= 1976].index)

**variable: 'MDXRECMP'**

In [40]:
data['REPT_SRC'].value_counts()

1    747176
8     30763
3     10407
4      9348
2      4170
6       454
7       122
5       115
Name: REPT_SRC, dtype: int64

In [41]:
data = data.drop(data[data['REPT_SRC'] >= 5].index)

**variable: 'RAC_RECA'**

In [42]:
data['RAC_RECA'].value_counts()

White      622059
Black       89281
Other       54252
Unknown      5509
Name: RAC_RECA, dtype: int64

In [43]:
data = data.drop(data[data['RAC_RECA'] == 'Unknown'].index)

**variable: 'SITERWHO'**

In [44]:
data['SITERWHO'].value_counts()

21048    164089
21052    163452
21041    124074
21043    107702
21051     62578
21045     52368
21047     35534
21044     27724
21046     18662
21042      9409
Name: SITERWHO, dtype: int64

In [45]:
data = data.drop(data[data['SITERWHO'] == 21042].index)

**variable: 'IHSLINK'**

In [48]:
data['IHSLINK'].value_counts()

0    744508
2      9598
1      2077
Name: IHSLINK, dtype: int64

In [47]:
data['IHSLINK'] = data['IHSLINK'].replace(['No IHS match','0'], 0)
data['IHSLINK'] = data['IHSLINK'].replace(['IHS Match','1'], 1)
data['IHSLINK'] = data['IHSLINK'].replace([' '], 2)

In [49]:
data = data.drop(data[data['IHSLINK'] == 2].index)

**variable: 'GRADE'**

In [50]:
data['GRADE'].value_counts()

Grade II        443296
Undetermined    119849
Grade III       105456
Grade I          67533
Grade IV         10451
Name: GRADE, dtype: int64

In [51]:
data = data.drop(data[data['GRADE'] == 'Undetermined'].index)

**variable: 'AYASITERWHO'**

In [52]:
data = data.drop(['AYASITERWHO'], axis=1)

**variable: 'INTPRIM'**

In [53]:
data['INTPRIM'].value_counts()

Yes         601995
No           18355
Excluded      6386
Name: INTPRIM, dtype: int64

In [54]:
data = data.drop(data[data['INTPRIM'] == 'Excluded'].index)

**variable: 'SCSSM2KO'**

In [55]:
data['SCSSM2KO'].value_counts()

1    189275
     151396
7     78966
3     64646
4     62267
2     62052
9     11713
5        35
Name: SCSSM2KO, dtype: int64

In [56]:
data = data.drop(['SCSSM2KO'], axis=1)

In [57]:
data.to_csv('neat_sampled.csv')